<!doctype html>
<html>
    <head>
        <title> <%= cars.brand %></title>
    </head>
    <body>
        <h1> <%= cars.brand %> </h1>
        <ol> 
            <ol>
            <ul><%= cars.info[0] %></ul>
            <ul><%= cars.info[1] %></ul>
            <ul><%= cars.info[2] %></ul>
        </ol>
        </ol>
    </body>
    <script type="text/javascript" src="../app.js"></script>
</html>

